.chat_head {
  display: flex;
  align-items: center;
  background-color: #ffff;
  padding: 0 16px;
  cursor: pointer;
  height: 72px;
  user-select: none;

  .chat_avatar {
    margin-right: 20px;
    display: flex;
    align-items: center;

    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }

  .chat_name_wrapper {
    height: 100%;
    border-bottom: 1px solid #e9edef;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: auto;
    flex-grow: 1;

    .chat_name {
      font-size: 24px;
      color: #00a884;
    }
  }


  .message_count {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgba(0, 168, 132, 0.6);;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
  }

}

.selected {
  background-color: #f0f2f5;
}