.tooltipWrapper{
position: relative;

}
.tooltip{
    
    white-space: nowrap;
      position: absolute;
      width: auto;
      background-color: #00a884;
      padding: 6px 12px;
      border-radius: 5px;
      top: -80px;
      left: -20px;
      z-index: 10;
    //   left: calc();
    //   right: 500px;
    //   transition-duration: .7s;
      opacity: .8;
      pointer-events: none;
      transform: rotateZ(180deg);
    // }
  }